input {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

/* css to make form have spacing above and below in a 1:1.5 ratio*/
.edit-container {
  position: absolute;
  top: 33%;
  bottom: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}
